.right__anotherSongs{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
}
.anotherSongs__Form{
    display: flex;
    flex-direction: column;
}
.anotherSongs__item{
    margin-bottom: 15px;
    width: 260px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.anotherSongs__item:hover{
    background-color: #fff;
    margin-bottom: 20px;
    width: 240px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.anotherSongs__item.active{
    background-color: #fff;
    margin-bottom: 20px;
    width: 240px;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}



.anotherSongs__imgNother{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* background-image: url('/image/imgSingerHaNhi/avata.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.anotherSongs__inforSinger{
    margin-left: 10px;

}
.another__gifMusic {
    width: 30px;
    height: 30px;
    margin-left: 60px;
    background-image: url(../image/wave.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.another__gifMusic.active{
    display: block;
}