html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: math;
}
.appMusic{
    height: 100%;
    background: linear-gradient(90deg, rgb(210, 228, 247) 0%, rgb(252, 229, 239) 100%);
}
.mainApp{

    height: 800px;
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
}

.left{
    /* background-color: red; */
    /* margin-top: 30px; */
    width: 430px;
    display: flex;
    justify-content: end;
}
.center{
    margin-top: 30px;
    background-color: #efeff8;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    padding: 25px;
    width: 720px;
    /* /* backdrop-filter: blur(40px); */
    cursor: pointer;
}
.right{
    /* background-color: aqua; */
    cursor: pointer;
    width: 430px;
}
.footerApp{
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, rgba(225,237,250,1) 0%, rgba(247,238,242,1) 100%);
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


